* {
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
}
.page-wrapper {
  max-width: 402px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 171px;
  background-color: #37b9f1;
  border-radius: 15px;
}
.hello {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 21px;
}
.hello-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.user-avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fffefe;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}
.user {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin: 0;
  margin-bottom: 25px;
}
.profession {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  opacity: 0.5;
  margin: 0;
}
.main_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contacts {
  display: flex;
  padding-top: 14px;
}
.yt {
  background: #f00;
  padding: 5px 30px;
}
.vk {
  background: rgba(76, 117, 163, 0.35);
  padding: 5px 30px;
}
.tg {
  background: rgba(0, 136, 204, 0.35);
  padding: 5px 30px;
  width: 100px;
}
button {
  border: 0;
    border-radius: 10px;
}
button:not(:last-child) {
  margin-right: 19px;
}