* {
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
}
.page-wrapper {
  max-width: 402px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 15px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 171px;
  background-color: #37b9f1;
  border-radius: 15px;
}
.hello {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 21px;
}
.hello-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
